.ingredients-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: space-evenly;
  }
  .ingredients-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Lobster';
    height: 100vh;
  }
  .ingredients-page h1 {
    border-bottom: 2px solid black;
  }
  .ingredients-page h2 {
    line-height: 30px;
    margin: 10px 0;
  }
  .ingredients-page > div {
    display: flex;
    flex-direction: column;
  }
  .ingredients-page > div > img {
    width: 350px;
    height: 350px;
    border: 1px solid black;
    border-radius: 5px;
  }
  .ingredients-page > div > p {
    font-weight: 900;
    margin: 0 5px;
  }
  .ingredients-page > div > label {
    font-weight: 900;
    align-self: flex-end;
  }
  .ingredients-page > div > button {
    background: none;
    padding: 5px;
    border: 2px solid black;
    margin: 20px 0;
  }
  .ingredients-page > div > button > a {
    text-decoration: none;
    color: black;
    font-size: 120%;
    font-weight: bold;
  }
  .nutrition li {
    height: 25px;
    list-style-type: none;
  }
  .nutrition-fats {
    list-style-type: none;
    text-indent: 10px;
  }
  .nutrition-primary:first {
    border-top: 2px solid black;
  }