/* ICONS */

@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?9052692#iefix') format('embedded-opentype'),
       url('./font/fontello.woff2?9052692') format('woff2'),
       url('./font/fontello.woff?9052692') format('woff'),
       url('./font/fontello.ttf?9052692') format('truetype'),
       url('./font/fontello.svg?9052692#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-book:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */

/* ANIMATION */

.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* APP */ 
* {
  font-family: 'Baloo Paaji 2';
}
body {
  margin: 0;
  font-size: 16px;
  background: #649173;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DBD5A4, #cfff95);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DBD5A4, #cfff95); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vw;
  width: 100%;
  background-color: #6b9b37;
  font-size: 200%;
}
.filter {
  display: none;
  height: 140px;
  justify-content: space-evenly;
}
.input-text, .input-checkbox {
  display: flex;
  flex-direction: column;
}
.filter input {
  height: 15px;
  width: 30px;
  margin: 2px;
}
.filter label {
  height: 23px;
}
.input-text > label:nth-child(4) > input {
  width: 120px;
}
.input-text > label:nth-child(2) > input {
  width: 100px;
}
.buttons button {
  background: none;
  border: 2px solid black;
  font-size: 120%;
  padding: 7px 14px;
  margin: 3px;
}
button:hover {
  cursor: pointer;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #9ccc65;
}
form > label {
  font-family: 'Lobster', cursive;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  margin: 15px;
  align-items: center;
}
form > label > input {
  margin-top: 15px;
  width: 50%;
  padding-bottom: 5px;
  border: none;
  border-bottom: 2px solid black;
  background: none;
  font-size: 60%;
}
.buttons {
  margin-bottom: 15px;
  font-weight: bold;
}
input:focus, button:focus, textarea { outline: none ! important; }
.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.recipe {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 15px;
}
.recipe h2 {
  border-bottom: 5px solid black;
  margin-bottom: 0;
}
.recipe img {
  border-radius: 10px 10px 0 0;
  border: 2px solid black;
}
.recipe p {
  margin: 0;
  margin-bottom: 3px;
}
.recipe p:first-of-type {
  font-family: 'Lobster';
  text-align: right;
}
.anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 120%;
  font-weight: bold;
  border: 2px solid black;
}
.recipe .anchor {
  border-top: none;
}
.ingredients-page .anchor {
  margin: 15px 0;
}
.info {
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info p {
  font-size: 120%;
  padding: 0 20px;
}
.info p:first-of-type {
  font-family: 'Lobster';
  font-size: 200%;
  margin: 15px;
}
.ingredients-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: space-evenly;
}
.ingredients-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: 'Lobster';
  height: 100vh;
}
.ingredients-page h1 {
  border-bottom: 2px solid black;
}
.ingredients-page h2 {
  line-height: 30px;
  margin: 10px 0;
}
.ingredients-page > div {
  display: flex;
  flex-direction: column;
}
.ingredients-page > div > img {
  width: 350px;
  height: 350px;
  border: 1px solid black;
  border-radius: 5px;
}
.ingredients-page > div > p {
  font-weight: 900;
  margin: 0 5px;
}
.ingredients-page > div > label {
  font-weight: 900;
  align-self: flex-end;
}
.ingredients-page > div > button {
  background: none;
  padding: 5px;
  border: 2px solid black;
  margin: 20px 0;
}
.ingredients-page > div > button > a {
  text-decoration: none;
  color: black;
  font-size: 120%;
  font-weight: bold;
}
.nutrition li {
  height: 25px;
  list-style-type: none;
}
.nutrition-fats {
  list-style-type: none;
  text-indent: 10px;
}
.nutrition-primary:first {
  border-top: 2px solid black;
}
/*
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  min-height: 90vh;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
}


*/